<!-- Team Section -->
    <section id="accepted_papers" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Accepted Papers</h2>
                    <!-- <h3 class="section-subheading text-muted"></h3> -->
                </div>
            </div> 
        	    <div class="row">
        	    	<div class="col-lg-8 col-lg-offset-2 text-justify">
        	        	<p class="large text-muted"> 
        				<li><strong>Retrieving Supporting Evidence for LLMs Generated Answers</strong>, Siqing Huo, Negar Arabzadeh, and Charles Clarke (University of Waterloo).</li> </br>
				        <li><strong>Citations as Queries: Source Attribution Using Language Models as Rerankers</strong>, Ryan Muther and David Smith (Northeastern University).</li> </br>
				        <li><strong>Resources and Evaluations for Multi-Distribution Dense Information Retrieval</strong>, Soumya Chatterjee, Omar Khattab, and Simran Arora (Stanford University).</li> </br>
				        <li><strong>LaMP: When Large Language Models Meet Personalization</strong>, Alireza Salemi, Sheshera Mysore, Michael Bendersky, and Hamed Zamani (University of Massachusetts Amherst & Google Research).</li> <!--</br>
				        <li><strong>Learning to Rank from Samples of Variable Quality</strong>, Mostafa Dehghani and Jaap Kamps. [<a href="https://arxiv.org/abs/1806.08694" target="\_blank">Link</a>]</li> </br>
					<li><strong>Multilingual Sentiment Analysis: An RNN-Based Framework for Limited Data</strong>, Ethem Can, Aysu Ezen-Can, and Fazli Can. [<a href="https://arxiv.org/abs/1806.04511" target="\_blank">Link</a>]</li> </br>
					<li><strong>Named Entity Recognition with Extremely Limited Data</strong>, John Foley, Sheikh Muhammad Sarwar, and James Allan. [<a href="https://arxiv.org/abs/1806.04411" target="\_blank">Link</a>]</li> </br>
				        <li><strong>Towards Theoretical Understanding of Weak Supervision for Information Retrieval</strong>, Hamed Zamani and W. Bruce Croft. [<a href="https://arxiv.org/abs/1806.04815" target="\_blank">Link</a>]</li>
					-->
        			</p>
        		</div>
    	    </div>
        </div>
    </section>
