  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li>
                            <!--Contact us at: <a href="mailto:lnd4ir@easychair.com">lnd4ir@easychair.com</a> -->
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
