<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#call">Call for Paper</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#program">Program</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#keynote">Keynote</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#accepted_papers">Accepted Papers</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#organizers">Organizers</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in_small">The First International Workshop on</div>
                <div class="intro-heading_small">Retrieval-Enhanced Machine Learning</div>
                <div class="intro-subheading_small">(REML @ SIGIR 2023)</div>
                <div class="intro-heading_tiny ">July 27th, 2023, Taiper, Taiwan. Co-located with <a href="https://sigir.org/sigir2023/" target="\_blank">SIGIR 2023</a>.</div>
                <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

