<!-- About Section -->
    <section id="keynote">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Keynote</h2>
                        <div class="row">
                            <div class="col-lg-8 col-lg-offset-2 text-justify">
                                <p class="large text-muted">                                      

                                <h4>Mohit Iyyer</h4>   
                                <p> TBD </p>

                                <div><p style="float: left;"><img src="https://www.cics.umass.edu/sites/default/files/styles/people_individual/public/headshots/mohit_iyyer_square.jpg" class="img-responsive img-circle" alt=""></p><p></p></div>
                                <!--
                                <p>Recent years have seen great advances in using machine-learned ranking functions for relevance prediction. Any learning-to-rank framework requires abundant labeled training examples. In web search, labels may either be assigned explicitly (say, through crowd-sourced assessors) or based on implicit user feedback (say, result clicks). In personal (e.g. email) search, obtaining labels is more difficult: document-query pairs cannot be given to assessors due to privacy constraints, and clicks on query-document pairs are extremely sparse (since each user has a separate corpus), noisy and biased. Over the past several years, we have worked on techniques for training ranking functions on result clicks in an unbiased and scalable fashion. Our techniques are used in many Google products, such as Gmail, Inbox, Drive and Calendar. In this talk, I will present an overview of this line of research. </p>    
                                
     
                                <div><p style="float: left;"><img src="https://www.cics.umass.edu/sites/default/files/styles/people_individual/public/headshots/mohit_iyyer_square.jpg" class="img-responsive img-circle" alt=""></p><p><i>Marc Najork is a Research Engineering Director at Google, where he manages a team working on a portfolio of machine learning problems. Before joining Google in 2014, Marc spent 12 years at Microsoft Research Silicon Valley and 8 years at Digital Equipment Corporations’s Systems Research Center in Palo Alto. He received a Ph.D. in Computer Science from the University of Illinois at Urbana-Champaign. Marc has published about 60 papers and holds 26 issued patents. Much of his past research has focused on improving web search, and on understanding the evolving nature of the web. He served as ACM TWEB editor-in-chief, CACM news board co-chair, WWW 2004 program co-chair, WSDM 2008 conference chair, and in numerous senior PC member roles.</i></p></div>
                                -->
                            </div>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </section>
